vendor
/the-vendor
node_modules
config/autoload/*.local.php
docker-compose.yml
/data/mariadb
/data/postgres
/data/psql-history
/.pier.overrides.yaml
/.env
/asset_manifest.json
/assets/sass/_team_colors.scss
