<form ng-submit="processRegister($event)">
    <div class="row">
        <div class="large-2 medium-2 columns">
            &nbsp;
        </div>
        <div class="large-6 medium-6 columns">
            <div class="row">
                <div class="large-12 columns">
                    <h2>Create an Account</h2>
                </div>
            </div>
            <div lds-authenticated="false" ng-show="register.success.form">
                <div class="row">
                    <div class="large-12 columns">
                        <div data-alert class="alert-box" ng-show="register.success.form">
                            {{register.success.form}}
                        </div>
                    </div>
                </div>
            </div>
            <div lds-authenticated="false" ng-hide="register.success.form">
                <div class="row">
                    <div class="large-12 columns">
                        <div data-alert class="alert-box warning" ng-show="register.error.form">
                            {{register.error.form}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns" ng-class="{error: register.error.first_name}">
                        First Name
                        <input type="text" placeholder="first name" ng-model="register.first_name" />
                        <small ng-show="register.error.first_name">{{register.error.first_name}}</small>
                    </div>
                    <div class="large-6 columns" ng-class="{error: register.error.last_name}">
                        Last Initial
                        <input type="text" placeholder="last initial" ng-model="register.last_name" />
                        <small ng-show="register.error.last_name">{{register.error.last_name}}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns" ng-class="{error: register.error.email}">
                        Email Address
                        <input type="text" placeholder="email address" ng-model="register.email" />
                        <small ng-show="register.error.email">{{register.error.email}}</small>
                    </div>
                    <div class="large-6 columns" ng-class="{error: register.error.confirm_email}">
                        Confirm Email Address
                        <input type="text" placeholder="confirm email address" ng-model="register.confirm_email" />
                        <small ng-show="register.error.confirm_email">{{register.error.confirm_email}}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <input type="submit" class="button small" value="Register" style="margin-right: 20px; " />
                    </div>
                </div>
            </div>
            <div data-alert class="large-12 columns alert-box warning" lds-authenticated="true">
                You are already logged in!
            </div>
        </div>
        <div class="large-5 medium-4 columns">
        </div>
    </div>
</form>
