@import '_team_colors';

.table th, .table td {
  font-size: .8em;
}

.week-header th {
  text-align: center;
  padding: .45rem .2rem;
}

.schedule {
  .team--away {
    text-align: right;
  }

  .team-color--secondary {
    width: 4%;
  }
}

.table td.score-box {
  text-align: center;
  vertical-align: middle;
  width: 4%;

  &.score-box--winning-team {
    font-weight: bold;
  }

  &.score-box--losing-team {
    color: #999999;
  }
}
