@import '_team_colors';

.table th, .table td {
  font-size: .8em;
}

.week-header th {
  text-align: center;
  padding: .45rem .2rem;
}

.schedule {
  .team--away {
    text-align: right;
  }

  .team-color--secondary {
    width: 4%;
  }
}

.table {
  td.number, th.number {
    text-align: right;
  }
}

.table td.score-box {
  text-align: center;
  vertical-align: middle;
  width: 4%;

  &.score-box--winning-team {
    font-weight: bold;
  }

  &.score-box--losing-team {
    color: #999999;
  }
}

.fantasy-standings {
  .player-name, .rank {
    text-align: right;
  }

  .player-icon {
    width: 70px;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .fantasy-standings {
    .week, .secondary-stats {
      display: none;

      &.current-week {
        display: table-cell;
      }
    }
  }
}
