#canvas {
    padding-bottom: 15px;
}

nav.top-bar .title-area h1 {

    background: url("images/logo.png") no-repeat scroll 10px 5px transparent;
    background-size: 120px 30px;
    text-indent: -9999px;
    overflow: hidden;
    width: 150px;
    height: 40px;
    white-space: nowrap;
}

.winning_team {
    font-weight: bold;
}

.losing_team {
    color: #999999;
}

.table td.fantasy-pick-box {
    text-align: center;
    vertical-align: middle;
    width: 4%;
    display: table-cell;
    border-radius: 0;
}

.fantasy-pick-box.losing-team, .logged-in .fantasy-pick-box.losing-team.discarded-team {
  background-color: initial;
  color: #dc3545;
}

.fantasy-pick-box.winning-team, .logged-in .fantasy-pick-box.winning-team.discarded-team {
  background-color: initial;
  color: #28a745;
}

.logged-in .fantasy-pick-box.discarded-game, .logged-in .fantasy-pick-box.losing-team.picked-team {
  background-color: #dc3545;
  color: white;
}

.logged-in .fantasy-pick-box.picked-game, .logged-in .fantasy-pick-box.winning-team.picked-team {
  background-color: #28a745;
  color: white;
}

.row.full-width {
    max-width: 100%;
    padding: 0 5px;
}

.no-wrap {
    white-space: nowrap;
}

table tr.week-header th {
    text-align: center;
    padding: .45rem .2rem;
}

.table th, .table td {
  font-size: .8em;
}

#fantasy-standings .rank {
    width: 35px;
    text-align: right;
}

#fantasy-standings .player-name {
    text-align: right;
}

#fantasy-standings .player-icon {
    width: 70px;
    text-align: center;
}

#fantasy-standings .number {
    text-align: right;
}
