#canvas {
    padding-bottom: 15px;
}

nav.top-bar .title-area h1 {
    
    background: url("images/logo.png") no-repeat scroll 10px 5px transparent;
    background-size: 120px 30px;
    text-indent: -9999px;
    overflow: hidden;
    width: 150px;
    height: 40px;
    white-space: nowrap;
}

.winning_team {
    font-weight: bold;
}

.losing_team {
    color: #999999;
}

.fantasy-pick-box {
    text-align: center;
    vertical-align: middle;
    width: 4%;
}

.label.success.wrong-team {
    color: #43ac6a;
    background-color: inherit;
}

.label.alert.wrong-team {
    color: #f04124;
    background-color: inherit;
}

.row.full-width {
    max-width: 100%;
    padding: 0 5px;
}

.no-wrap {
    white-space: nowrap;
}

table tr.week-header th {
    text-align: center;
}

#fantasy-standings .rank {
    width: 35px;
    text-align: right;
}

#fantasy-standings .player-name {
    text-align: right;
}

#fantasy-standings .player-icon {
    width: 70px;
    text-align: center;
}

#fantasy-standings .number {
    text-align: right;
}
