<div class="container mt-4">
  <div class="row mb-1">
    <div class="col-lg-4 offset-lg-4">
      <h1>Need help?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <div class="alert alert-success" ng-show="login_help.success.form">
        {{login_help.success.form}}
        </div>
      <form ng-submit="processLoginHelp($event)" lds-authenticated="false">
        <div ng-hide="login_help.success.form">
          <div class="alert alert-danger" ng-show="login_help.error.form">
            {{login_help.error.form}}
          </div>
          <p>
            Enter the email address associated with your account
          </p>
          <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input type="email" class="form-control" ng-class="{'is-invalid': login_help.error.email}" id="email" placeholder="Email" ng-model="login_help.email" ng-keyup="formChanged($event)" ng-changed="formChanged($event)">
            <div class="invalid-feedback" ng-show="login_help.error.email">{{login_help.error.email}}</div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary mr-4">Help me!</button>
          </div>
        </div>
      </form>
      <div class="alert alert-warning" lds-authenticated="true">
        You are already logged in!
      </div>
    </div>
  </div>
</div>
