<div class="container mt-4">
  <div class="row mb-1">
    <div class="col-lg-4 offset-lg-4">
      <h1>{{form.title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <form ng-submit="processPasswordReset($event)" ng-show="form.show_form">
        <div class="alert alert-success" ng-show="form.success.form">
          {{form.success.form}}
        </div>
        <div lds-authenticated="false" ng-hide="form.success.form">
          <div class="alert alert-danger" ng-show="form.error.form">
            {{form.error.form}}
          </div>
          <div class="form-group">
            <label for="new-password">New password</label>
            <input type="password" class="form-control" ng-class="{'is-invalid': form.error.newPassword}" id="new-password" placeholder="New password" ng-model="form.passwordReset.newPassword" ng-keyup="formChanged($event)" ng-changed="formChanged($event)">
            <div class="invalid-feedback" ng-show="form.error.newPassword">{{form.error.newPassword}}</div>
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm password</label>
            <input type="password" class="form-control" ng-class="{'is-invalid': form.error.confirmPassword}" id="confirm-password" placeholder="Confirm password" ng-model="form.passwordReset.confirmPassword" ng-keyup="formChanged($event)" ng-changed="formChanged($event)">
            <div class="invalid-feedback" ng-show="form.error.confirmPassword">{{form.error.confirmPassword}}</div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary mr-4">Save</button>
          </div>
        </div>
      </form>
      <div ng-hide="form.show_form" class="alert alert-warning">
          Your password reset link has expired.
          Please <a href="#/user/login/help">request a new link</a>.
      </div>
      <div class="alert alert-warning" lds-authenticated="true">
        You are already logged in!
      </div>
    </div>
  </div>
</div>
