<div class="row">
    <div class="small-12 columns">
        <h1>Fantasy Standings</h1>
        <div ng-include="'/app/template/football/navigation.html'"></div>
        <lds-football-week-selector ng-model="week_selector" ng-change="changeWeek(event)"></lds-football-week-selector>
    </div>
</div>
<div class="row full-width">
    <table class="small-12" style="margin: 0 auto; ">
        <tr>
            <th>Rank</th>
            <th colspan="2">Player</th>
            <th ng-repeat="week in weeks">
                {{week.week_num}}
            </th>
            <th>Total</th>
            <th>%</th>
            <th></th>
            <th>Weeks<br />Won</th>
            <th></th>
            <th>GP</th>
        </tr>
        <tr ng-repeat="player_standing in standings">
            <td style="width: 35px; text-align: right; ">
                {{player_standing.rank}}
            </td>
            <td style="text-align: right; ">{{player_standing.player.name}}</td>
            <td ng-style="getDisplayNameStyle(player_standing.player)" style="width: 70px; text-align: center; ">
                {{player_standing.player.displayName}}
            </td>
            <td
                ng-repeat="week_standing in player_standing.standings"
                ng-style="getWeekPointsStyle(week_standing)"
                style="text-align: right; "
            >
                {{week_standing.standing.points}}
            </td>
            <td style="text-align: right; ">
                {{player_standing.total_points}}
            </td>
            <td style="text-align: right; ">
                {{player_standing.total_percent * 100 | number:1}}%
            </td>
            <td></td>
            <td style="text-align: right; ">
                {{player_standing.weeks_won}}
            </td>
            <td></td>
            <td style="text-align: right; ">
                {{player_standing.potential_points}}
            </td>
        </tr>
    </table>
</div>
