<div class="row">
    <div class="small-12 columns">
        <h1>League Picks</h1>
        <div ng-include="'/app/template/football/navigation.html'"></div>
        <lds-football-week-selector ng-model="week_selector" ng-change="changeWeek(event)"></lds-football-week-selector>
    </div>
    <table class="small-12" style="margin: 0 auto; ">
        <tr ng-repeat-start="game in games" ng-show="headerExists(game)">
            <th colspan="{{playerCount + 3}}" style="background-color: #f2f2f2;">
                {{game.start_time | date:'EEEE, MMMM d, y, h:mm a'}}
            </th>
        </tr>
        <tr ng-hide="headerExists(game)">
            <td style="background-color: #d9d9d9; height: 2px; font-size: 1px; padding: 0; margin: 0; " colspan="3"></td>
        </tr>
        <tr>
            <td
                class="text-center"
                style="vertical-align: middle; width: 4%; "
                ng-class="
                    {
                        winning_team: game.away_score &amp;&amp; game.away_score >= game.home_score,
                        losing_team: game.away_score < game.home_score
                    }
                "
                ng-style="getPickedTeamStyle(game, game.away_team)"
            >
                
            </td>
            <td style="
                background-color: {{game.away_team.border_color}};
                width: 4%;
            ">&nbsp;</td>
            <td style="
                color: {{game.away_team.font_color}};
                background-color: {{game.away_team.background_color}};
                width: 40%;
            ">
                {{game.away_team.location}} {{game.away_team.mascot}}
            </td>
            <td ng-repeat="pick in game.picks">
                <div ng-show="pick.team_id == game.away_team.team_id">
                    <div style="background-color: #{{players[pick.player_id].background_color}}; color: #ffffff; ">
                        {{players[pick.player_id].displayName}}
                    </div>
                </div>
            </td>
        </tr>
        <tr ng-repeat-end>
            <td
                class="text-center"
                style="vertical-align: middle; width: 4%; "
                ng-class="
                    {
                        winning_team: game.away_score &amp;&amp; game.away_score <= game.home_score,
                        losing_team: game.away_score > game.home_score
                    }
                "
                ng-style="getPickedTeamStyle(game, game.home_team)"
            >
                
            </td>
            <td style="
                background-color: {{game.home_team.border_color}};
                width: 4%;
            ">&nbsp;</td>
            <td style="
                color: {{game.home_team.font_color}};
                background-color: {{game.home_team.background_color}};
                width: 40%;
            ">
                {{game.home_team.location}} {{game.home_team.mascot}}
            </td>
            <td ng-repeat="pick in game.picks">
                <div ng-show="pick.team_id == game.home_team.team_id">
                    <div style="background-color: #{{players[pick.player_id].background_color}}; color: #ffffff; ">
                        {{players[pick.player_id].displayName}}
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
