<div class="row">
    <div class="small-12 columns">
        <h1>My Picks</h1>
        <div ng-include="'/app/template/football/navigation.html'"></div>
        <lds-football-week-selector ng-model="week_selector" ng-change="changeWeek(event)"></lds-football-week-selector>
    </div>
    <div data-alert class="large-12 columns alert-box warning text-center" lds-authenticated="false">
        You must login in to make your picks!
    </div>
    <div class="small-12 columns alert-box alert" ng-show="errors.length">
        <span ng-repeat="error in errors">{{error}}<br /></span>
    </div>
    <table class="small-12" style="margin: inherit auto; ">
        <tr ng-repeat-start="game in games" ng-show="headerExists(game)" class="week-header">
            <th colspan="8">
                {{game.start_time | date:'EEEE, MMMM d, y, h:mm a'}}
            </th>
        </tr>
        <tr ng-repeat-end>
            <td
                ng-style="getTeamNameBoxStyle(game.away.team)"
                class="text-right"
                ng-click="pickChanged(game, game.away.team)"
            >
                ({{standings[game.away.team.team_id].win_count}}-{{standings[game.away.team.team_id].loss_count}}-{{standings[game.away.team.team_id].tie_count}})
                {{game.away.team.location}} {{game.away.team.mascot}}
            </td>
            <td
                ng-style="getTeamAccessoryBoxStyle(game.away.team)"
                ng-click="pickChanged(game, game.away.team)"
            >
                &nbsp;
            </td>
            <td
                class="fantasy-pick-box"
                ng-class="getPickCellClasses(game, game.away, game.home)"
                ng-click="pickChanged(game, game.away.team)"
            >
                <span ng-show="game.isFinal() &amp;&amp; game.away.score >= game.home.score">
                    {{week.win_weight}}
                </span>
                <span ng-show="game.isFinal() &amp;&amp; game.away.score < game.home.score">
                    0
                </span>
                <span lds-authenticated="true" ng-show="game.isStarted() &amp;&amp; game.picks[currentPlayerId].isPickedTeam(game.away.team) &amp;&amp; !game.isFinal()">
                    X
                </span>
                <span lds-authenticated="true" ng-hide="game.isStarted()">
                    <input type="radio" ng-model="game.picks[currentPlayerId].team_id" value="{{game.away.team.team_id}}" style="margin: 0; " ng-change="pickChanged(game, game.away.team)" />
                </span>
            </td>
            <td
                class="fantasy-pick-box"
                ng-class="getPickCellClasses(game, game.home, game.away)"
                ng-click="pickChanged(game, game.home.team)"
            >
                <span ng-show="game.isFinal() &amp;&amp; game.away.score <= game.home.score">
                    {{week.win_weight}}
                </span>
                <span ng-show="game.isFinal() &amp;&amp; game.away.score > game.home.score">
                    0
                </span>
                <span lds-authenticated="true" ng-show="game.isStarted() &amp;&amp; game.picks[currentPlayerId].isPickedTeam(game.home.team) &amp;&amp; !game.isFinal()">
                    X
                </span>
                <span lds-authenticated="true" ng-hide="game.isStarted()">
                    <input type="radio" ng-model="game.picks[currentPlayerId].team_id" value="{{game.home.team.team_id}}" style="margin: 0; " ng-change="pickChanged(game, game.home.team)" />
                </span>
            </td>
            <td
                ng-style="getTeamAccessoryBoxStyle(game.home.team)"
                ng-click="pickChanged(game, game.home.team)"
            >
                &nbsp;
            </td>
            <td
                ng-style="getTeamNameBoxStyle(game.home.team)"
                ng-click="pickChanged(game, game.home.team)"
            >
                {{game.home.team.location}} {{game.home.team.mascot}}
                ({{standings[game.home.team.team_id].win_count}}-{{standings[game.home.team.team_id].loss_count}}-{{standings[game.home.team.team_id].tie_count}})
            </td>
        </tr>
    </table>
</div>
