<div class="row">
    <div class="small-12 columns">
        <h1>Schedule</h1>
        <div ng-include="'/app/template/football/navigation.html'"></div>
        <lds-football-week-selector ng-model="week_selector" ng-change="changeWeek(event)"></lds-football-week-selector>
    </div>
    <table class="small-12" style="margin: inherit auto; ">
        <tr ng-repeat-start="game in games" ng-show="headerExists(game)" class="week-header">
            <th colspan="8">
                {{game.start_time | date:'EEEE, MMMM d, y, h:mm a'}}
            </th>
        </tr>
        <tr ng-repeat-end>
            <td
                ng-style="getTeamNameBoxStyle(game.away.team)"
                class="text-right"
            >
                {{game.away_team.location}} {{game.away_team.mascot}}
            </td>
            <td ng-style="getTeamAccessoryBoxStyle(game.away.team)">&nbsp;</td>
            <td
                class="fantasy-pick-box"
                ng-class="getTeamScoreCellClasses(game, game.away, game.home)"
            >
                {{game.away_score}}
            </td>
            <td
                class="fantasy-pick-box"
                ng-class="getTeamScoreCellClasses(game, game.home, game.away)"
            >
                {{game.home_score}}
            </td>
            <td ng-style="getTeamAccessoryBoxStyle(game.home.team)">&nbsp;</td>
            <td
                ng-style="getTeamNameBoxStyle(game.home.team)"
            >
                {{game.home_team.location}} {{game.home_team.mascot}}
            </td>
        </tr>
    </table>
</div>
