<div class="row">
    <div class="small-12 columns panel">
        <div class="row">
            <div class="medium-3 small-5 columns">
                <label>Season</label>
                <select ng-model="week_selector.season" ng-change="changeSelectedWeek()" ng-options="season.year for (year, season) in week_selector.seasons">
                </select>
            </div>
            <div class="medium-3 small-5 columns">
                <label>Week</label>
                <select ng-model="week_selector.week" ng-change="changeSelectedWeek()" ng-options="week.week_number for week in week_selector.weeks | orderBy:'week_number'">
                </select>
            </div>
            <div class="medium-6 small-2 columns">
            </div>
        </div>
    </div>

</div>